/.vs/KGuide_AuNV_QuanLiNhanSu_POP/FileContentIndex/1ee91bda-cd32-4899-8fb7-a8cfad516c95.vsidx
/.vs/KGuide_AuNV_QuanLiNhanSu_POP/FileContentIndex/291900b6-056c-4f66-bdb5-d039a81a4f97.vsidx
/.vs/KGuide_AuNV_QuanLiNhanSu_POP/FileContentIndex/8840f483-be9d-492c-9ba9-ea8b0926baa9.vsidx
/.vs/KGuide_AuNV_QuanLiNhanSu_POP/FileContentIndex/95ebacce-f54a-4395-9e1b-115b236fbd90.vsidx
/.vs/KGuide_AuNV_QuanLiNhanSu_POP/FileContentIndex/read.lock
/.vs/KGuide_AuNV_QuanLiNhanSu_POP/v17/.suo
/.vs/KGuide_AuNV_QuanLiNhanSu_POP/v17/Browse.VC.db
/.vs/KGuide_AuNV_QuanLiNhanSu_POP/v17/Browse.VC.db-shm
/.vs/KGuide_AuNV_QuanLiNhanSu_POP/v17/Browse.VC.db-wal
/.vs/KGuide_AuNV_QuanLiNhanSu_POP/v17/Browse.VC.opendb
/.vs/KGuide_AuNV_QuanLiNhanSu_POP/v17/ipch/AutoPCH/541767d9537e8dfb/QUANLINHANVIEN.ipch
/.vs/KGuide_AuNV_QuanLiNhanSu_POP/v17/ipch/AutoPCH/f97cdf7ff664cd4b/KGUIDE_AUNV_QUANLINHANSU_POP.ipch
/packages/1.1.0.0/.signature.p7s
/packages/1.1.0.0/1.1.0.0.nupkg
/packages/1.1.0.0/mynewdemo.dll
/packages/jQuery.2.1.1/.signature.p7s
/packages/jQuery.2.1.1/Content/Scripts/jquery-2.1.1-vsdoc.js
/packages/jQuery.2.1.1/Content/Scripts/jquery-2.1.1.js
/packages/jQuery.2.1.1/Content/Scripts/jquery-2.1.1.min.js
/packages/jQuery.2.1.1/Content/Scripts/jquery-2.1.1.min.map
/packages/jQuery.2.1.1/jQuery.2.1.1.nupkg
/packages/jQuery.2.1.1/Tools/common.ps1
/packages/jQuery.2.1.1/Tools/install.ps1
/packages/jQuery.2.1.1/Tools/jquery-2.1.1.intellisense.js
/packages/jQuery.2.1.1/Tools/uninstall.ps1
/packages/SampleDependency.1.0.0/.signature.p7s
/packages/SampleDependency.1.0.0/content/Scripts/nugetexample.js
/packages/SampleDependency.1.0.0/SampleDependency.1.0.0.nupkg
/Scripts/jquery-2.1.1.js
/Scripts/jquery-2.1.1.min.js
/Scripts/jquery-2.1.1.min.map
/Scripts/nugetexample.js
/x64/Debug/.NETFramework,Version=4.7.2.AssemblyAttributes.cpp
/x64/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cpp
/x64/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.obj
/x64/Debug/KGuide_A.a010c829.tlog/CL.command.1.tlog
/x64/Debug/KGuide_A.a010c829.tlog/Cl.items.tlog
/x64/Debug/KGuide_A.a010c829.tlog/CL.read.1.tlog
/x64/Debug/KGuide_A.a010c829.tlog/CL.write.1.tlog
/x64/Debug/KGuide_A.a010c829.tlog/KGuide_AuNV_QuanLiNhanSu_POP.lastbuildstate
/x64/Debug/KGuide_A.a010c829.tlog/link.command.1.tlog
/x64/Debug/KGuide_A.a010c829.tlog/link.read.1.tlog
/x64/Debug/KGuide_A.a010c829.tlog/link.write.1.tlog
/x64/Debug/KGuide_A.a010c829.tlog/metagen.read.1.tlog
/x64/Debug/KGuide_A.a010c829.tlog/metagen.write.1.tlog
/x64/Debug/KGuide_AuNV_QuanLiNhanSu_POP.exe
/x64/Debug/KGuide_AuNV_QuanLiNhanSu_POP.exe.metagen
/x64/Debug/KGuide_AuNV_QuanLiNhanSu_POP.exe.recipe
/x64/Debug/KGuide_AuNV_QuanLiNhanSu_POP.log
/x64/Debug/KGuide_AuNV_QuanLiNhanSu_POP.obj
/x64/Debug/KGuide_AuNV_QuanLiNhanSu_POP.pdb
/x64/Debug/KGuide_AuNV_QuanLiNhanSu_POP.vcxproj.AssemblyReference.cache
/x64/Debug/KGuide_AuNV_QuanLiNhanSu_POP.vcxproj.FileListAbsolute.txt
/x64/Debug/KGuide_AuNV_QuanLiNhanSu_POP.vcxproj.SuggestedBindingRedirects.cache
/x64/Debug/vc143.idb
/x64/Debug/vc143.pdb
